.baseroot{
    background-repeat: no-repeat;
    background-image: linear-gradient(#2E3192 , #1BFFFF);
    
}
.newtable{
    background-repeat: no-repeat;
    background-image: linear-gradient(#2E3192 , #1BFFFF);
    
}